{% load widget_tweaks %}
<form action="{% url 'residents:newresident_dashboard' house.id %}" method="post" class="form-material">
    {% csrf_token %}
    <div class="form-group form-primary form-static-label">
        {{ form.first_name}}
        <span class="form-bar"></span>
        <label class="float-label">First Name</label>
    </div>

    <div class="form-group form-primary form-static-label">
        {{ form.last_name}}
        <span class="form-bar"></span>
        <label class="float-label">Last Name</label>
    </div>

    <div class="form-group form-primary form-static-label">
        {{ form.email}}
        <span class="form-bar"></span>
        <label class="float-label">Email Address</label>
    </div>

    <div class="form-group form-primary form-static-label">
        {{ form.status}}
        <span class="form-bar"></span>
        <label class="float-label">Status Of Occupancy</label>
    </div>

    <button class="btn btn-grd-primary btn-round waves-effect waves-light" type="submit">
      Add Resident and Create Account</button>

</form>



