<!-- Count Houses -->
<div class="col-xl-3 col-md-6">
  <div class="card">
    <div class="card-block">
      <div class="row align-items-center">
        <div class="col-8">
          <h4 class="text-c-purple">{{ activeresidents_count }}</h4>
          <h6 class="text-muted m-b-0">Active Residents</h6>
        </div>
        <div class="col-4 text-right">
          <i class="fa fa-home f-28"></i>
        </div>
      </div>
    </div>
    <div class="card-footer bg-c-purple">
      <div class="row align-items-center">
        <div class="col-9">
          <p class="text-white m-b-0">% change</p>
        </div>
        <div class="col-3 text-right">
          <i class="fa fa-line-chart text-white f-16"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-md-6">
  <div class="card">
    <div class="card-block">
      <div class="row align-items-center">
        <div class="col-8">
          <h4 class="text-c-green">{{ vacatedresidents_count }}</h4>
          <h6 class="text-muted m-b-0">Vacated Residents</h6>
        </div>
        <div class="col-4 text-right">
          <i class="ti-briefcase f-28"></i>
        </div>
      </div>
    </div>
    <div class="card-footer bg-c-green">
      <div class="row align-items-center">
        <div class="col-9">
          <p class="text-white m-b-0">% change</p>
        </div>
        <div class="col-3 text-right">
          <i class="fa fa-line-chart text-white f-16"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-md-6">
  <div class="card">
    <div class="card-block">
      <div class="row align-items-center">
        <div class="col-8">
          <h4 class="text-c-red">{{ activecommunity_heads }}</h4>
          <h6 class="text-muted m-b-0">Community Heads</h6>
        </div>
        <div class="col-4 text-right">
          <i class="ti-location-pin f-28"></i>
        </div>
      </div>
    </div>
    <div class="card-footer bg-c-red">
      <div class="row align-items-center">
        <div class="col-9">
          <p class="text-white m-b-0">% change</p>
        </div>
        <div class="col-3 text-right">
          <i class="fa fa-line-chart text-white f-16"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-md-6">
  <div class="card">
    <div class="card-block">
      <div class="row align-items-center">
        <div class="col-8">
          <h4 class="text-c-blue">{{ property_count }}</h4>
          <p class="text-muted m-b-0">Registered Properties</p>
        </div>
        <div class="col-4 text-right">
          <i class="fa fa-home f-28"></i>
        </div>
      </div>
    </div>
    <div class="card-footer bg-c-blue">
      <div class="row align-items-center">
        <div class="col-9">
          <p class="text-white m-b-0">% change</p>
        </div>
        <div class="col-3 text-right">
          <i class="fa fa-line-chart text-white f-16"></i>
        </div>
      </div>
    </div>
  </div>
</div>

