<div class="col-xl-8 col-md-12">
  <div class="card table-card">
    <div class="card-header">
      <h5>Recently Added Residents</h5>
      <div class="card-header-right">
        <ul class="list-unstyled card-option">
          <li><i class="fa fa fa-wrench open-card-option"></i></li>
          <li><i class="fa fa-window-maximize full-card"></i></li>
          <li><i class="fa fa-minus minimize-card"></i></li>
          <li><i class="fa fa-refresh reload-card"></i></li>
          <li><i class="fa fa-trash close-card"></i></li>
        </ul>
      </div>
    </div>
    <div class="card-block">
      <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                <th>House</th>
                <th>Resident Name</th>
                <th>Email</th>
                <th>Start of Occupancy</th>
                </tr>
            </thead>
            <tbody>
                {% for resident in residents %}
                <tr>
                    <td>{{ resident.house }}</td>
                    <td>{{ resident.last_name }} {{ resident.first_name }}</td>
                    <td>{{ resident.resident_email }}</td>
                    <td>{{ resident.occupancy_start }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right m-r-20">
          <a href="{% url 'residents:all_residents' %}" class="b-b-primary text-primary">View all residents</a>
        </div>
      </div>
    </div>
  </div>
</div>

