{% load static %}
<nav class="pcoded-navbar">
  <div class="sidebar_toggle">
    <a href="#"><i class="icon-close icons"></i></a>
  </div>
  <div class="pcoded-inner-navbar main-menu">
    <div class="">
      <div class="main-menu-header">
        <img
          class="img-80 img-radius"
          src="{{ request.user.profile.image.url }}"
          alt="User-Profile-Image"
        />
        <div class="user-details">
          <span id="more-details"
            >{{ user.first_name }} {{ user.last_name }}<i class="fa fa-caret-down"></i
          ></span>
        </div>
      </div>

      <div class="main-menu-content">
        <ul>
          <li class="more-details">
            <a href="{% url 'profile:profile' %}"><i class="ti-user"></i>View Profile</a>
            <a href="{% url 'logout' %}"
              ><i class="ti-layout-sidebar-left"></i>Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">
      Quick Actions
    </div>
    <ul class="pcoded-item pcoded-left-item">
      <li class="active">
        <a href="{% url 'my_admin:dashboard' %}" class="waves-effect waves-dark">
          <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
          <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
          <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
          <span class="pcoded-mtext" data-i18n="nav.basic-components.main"
            >Estate Structure</span
          >
          <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
          <li class="">
            <a href="{% url 'housetype:housetype_dashboard' %}" class="waves-effect waves-dark">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"
                >House Types</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li class="">
            <a href="{% url 'commtype:commtype_dashboard' %}" class="waves-effect waves-dark">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span
                class="pcoded-mtext"
                data-i18n="nav.basic-components.breadcrumbs"
                >Community Types</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li class="">
            <a href="{% url 'communities:communities_dashboard' %}" class="waves-effect waves-dark">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"
                >Communities</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li class="">
            <a href="{% url 'houses:houses_dashboard' %}" class="waves-effect waves-dark">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span
                class="pcoded-mtext"
                data-i18n="nav.basic-components.breadcrumbs"
                >Houses</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">
      Estate Residents
    </div>
    <ul class="pcoded-item pcoded-left-item">
      <li class="">
        <a href="{% url 'residents:residents_dashboard' %}" class="waves-effect waves-dark">
          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
          <span
            class="pcoded-mtext"
            data-i18n="nav.basic-components.breadcrumbs"
            >Residents Dashboard</span
          >
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li class="">
        <a href="{% url 'residents:all_residents' %}" class="waves-effect waves-dark">
          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
          <span
            class="pcoded-mtext"
            data-i18n="nav.basic-components.breadcrumbs"
            >All Residents</span
          >
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li class="">
        <a href="{% url 'residents:select_request' %}" class="waves-effect waves-dark">
          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
          <span
            class="pcoded-mtext"
            data-i18n="nav.basic-components.breadcrumbs"
            >Account Requests</span
          >
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li class="">
        <a href="{% url 'residents:select_house' %}" class="waves-effect waves-dark">
          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
          <span
            class="pcoded-mtext"
            data-i18n="nav.basic-components.breadcrumbs"
            >New Resident</span
          >
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
    </ul>

    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">
      Finance &amp; Payments
    </div>
    <ul class="pcoded-item pcoded-left-item">
      <li>
        <a href="{% url 'financials:all_service_charge' %}" class="waves-effect waves-dark">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main"
            >Service Charge</span
          >
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li>
        <a href="{% url 'financials:all_transformer_levy' %}" class="waves-effect waves-dark">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main"
            >Transformer Levy</span
          >
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
    </ul>
    <!--
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">
      Reports
    </div>
    <ul class="pcoded-item pcoded-left-item">
      <li>
        <a href="chart.html" class="waves-effect waves-dark">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main"
            >Personnel</span
          >
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li>
        <a href="map-google.html" class="waves-effect waves-dark">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main"
            >Residents</span
          >
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
          <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
          <span class="pcoded-mtext" data-i18n="nav.basic-components.main"
            >Communities</span
          >
          <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
          <li class="">
            <a href="auth-normal-sign-in.html" class="waves-effect waves-dark">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"
                >Houses</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li class="">
            <a href="auth-sign-up.html" class="waves-effect waves-dark">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span
                class="pcoded-mtext"
                data-i18n="nav.basic-components.breadcrumbs"
                >Finance</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li class="">
            <a href="sample-page.html" class="waves-effect waves-dark">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span
                class="pcoded-mtext"
                data-i18n="nav.basic-components.breadcrumbs"
                >Sample Page</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="pcoded-navigation-label" data-i18n="nav.category.other">
      Other
    </div>
    <ul class="pcoded-item pcoded-left-item">
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
          <span class="pcoded-micon"
            ><i class="ti-direction-alt"></i><b>M</b></span
          >
          <span class="pcoded-mtext" data-i18n="nav.menu-levels.main"
            >Menu Levels</span
          >
          <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
          <li class="">
            <a href="javascript:void(0)" class="waves-effect waves-dark">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span
                class="pcoded-mtext"
                data-i18n="nav.menu-levels.menu-level-21"
                >Menu Level 2.1</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li class="pcoded-hasmenu">
            <a href="javascript:void(0)" class="waves-effect waves-dark">
              <span class="pcoded-micon"><i class="ti-direction-alt"></i></span>
              <span
                class="pcoded-mtext"
                data-i18n="nav.menu-levels.menu-level-22.main"
                >Menu Level 2.2</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">
              <li class="">
                <a href="javascript:void(0)" class="waves-effect waves-dark">
                  <span class="pcoded-micon"
                    ><i class="ti-angle-right"></i
                  ></span>
                  <span
                    class="pcoded-mtext"
                    data-i18n="nav.menu-levels.menu-level-22.menu-level-31"
                    >Menu Level 3.1</span
                  >
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
            </ul>
          </li>
          <li class="">
            <a href="javascript:void(0)" class="waves-effect waves-dark">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span
                class="pcoded-mtext"
                data-i18n="nav.menu-levels.menu-level-23"
                >Menu Level 2.3</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
        </ul>
      </li>
    </ul>-->
  </div>
</nav>

