{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Other Meta Tags-->
    <meta name="description" content="Kabusa Garden Estate Management Application. Built With Django" />
    <meta name="keywords" content="Admin, Django, Estate Management, bootstrap, bootstrap5" />
    <meta name="author" content="John J. Lawal"/>

    <!--Site Title-->
    <title>KGERA | Welcome</title>

    <!--Favicon icon-->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <!--Required Vendors-->
    <link rel="stylesheet" href="{% static 'css/waves.min.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'icons/themify/themify-icons.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'icons/fontawesome/font-awesome.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.mCustomScrollbar.css' %}"/>
    <!-- am chart export.css -->
    <link rel="stylesheet" href="{% static 'export/export.css' %}" type="text/css" media="all" />
    <!--Custom Styles-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    <!-- Animate.Css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}"/>
    <!-- Date-Picker.Css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}"/>
</head>
<body>
    <!-- Pre-loader start -->
  <div class="theme-loader">
      <div class="loader-track">
          <div class="preloader-wrapper">
              <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
              <div class="spinner-layer spinner-red">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>

              <div class="spinner-layer spinner-yellow">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>

              <div class="spinner-layer spinner-green">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Pre-loader end -->
 <div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        {% include 'core/_land_nav.html' %}

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <div class="pcoded-inner-content">
                    <!-- Main-body start -->
                    <div class="main-body container">
                         <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                            <div class="col-10 col-sm-8 col-lg-6">
                                <img src="{% static 'images/landing1.png' %}"
                                    class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
                                    loading="lazy">

                                {% if messages %}
                                 <div class="card card-shadow">
                                      {% for message in messages %}
                                          <h5 class="text-center {{ messages.tags }} animate__animated animate__fadeIn animate__delay-3s">{{ message }}</h5>
                                      {% endfor %}
                                 </div>
                                {% endif %}

                            </div>
                            <div class="col-lg-6">
                                <h1 class="display-5 fw-bold lh-1 mb-3" style="color:black !important;">KGERA Estate Management Software</h1>
                                <p class="lead">Bringing Simplicity, Efficiency and Effective to Estate Management...
                                </p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                    <a class="btn btn-grd-primary btn-round waves-effect waves-light"
                                    href="{% url 'login' %}">
                                      Login</a>
                                    <a class="btn btn-outline-primary btn-round waves-effect waves-light" href="{% url 'new_account:select_house' %}">
                                     Create Account</a>
                                </div>
                            </div>
                        </div>
                      <div class="col-xl-12 col-md-12">
                        <div class="card">
                          <div class="card-header">
                                <h5>CREATING A RESIDENT ACCOUNT</h5>
                          </div>
                          <div class="card-block card-body">
                            <p class="text-center" style="font-size:20px;">A Resident Account is user account for residents of the estate. The Account is to be
                                  active for the duration of the resident's stay in the estate. Each Resident Account is
                                  connected to the current house the resident is occupying.
                            </p>
                            <div class="row">
                              <div class="col-lg-12 col-xl-3">
                                <div class="card card-shadow">
                                  <div class="card-header">
                                <h5>STEP 1</h5>
                             </div>
                                  <div class="card-block card-body">
                                    <p style="font-size:15px">Click the Create Account Button Above or <a href="" class="b-b-primary text-primary">
                                      click here</a>
                                    </p>
                                    <ul>
                                      <li class="text-info"></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12 col-xl-3">
                                <div class="card card-shadow">
                                  <div class="card-header">
                                    <h5>STEP 2</h5>
                                  </div>
                                  <div class="card-block card-body">
                                    <p style="font-size:15px;">Search and Select the house you are currently residing in and click the
                                      <span style="text-transform:uppercase; color:black;">request account button</span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12 col-xl-3">
                                <div class="card card-shadow">
                                  <div class="card-header">
                                    <h5>STEP 3</h5>
                                 </div>
                                  <div class="card-block card-body">
                                    <p style="font-size:15px;">Fill the Account Creation Request Form and Submit.</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12 col-xl-3">
                                <div class="card card-shadow">
                                  <div class="card-header">
                                    <h5>STEP 4</h5>
                                 </div>
                                  <div class="card-block card-body">
                                    <p style="font-size:15px;">An Admin Verifies the request and approves the request.</p>
                                    <ul>
                                      <li>Your Default Username is the first 4 letters of your Last Name and the
                                        first 3 of your first name</li>
                                      <li>Example: Adebisi Michael = AdebMic</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  <!--Required Javascripts-->
  <script type="text/javascript" src="{% static 'js/jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap/moment.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap-datetimepicker.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/widget/excanvas.js' %}"></script>
  <!--Waves js-->
  <script type="text/javascript" src="{% static 'js/vendors/waves.min.js' %}"></script>
  <!--jquery slimscroll js-->
  <script type="text/javascript" src="{% static 'js/jquery/jquery.slimscroll.js' %}"></script>
  <!--modernizr js-->
  <script type="text/javascript" src="{% static 'js/vendors/modernizr.js' %}"></script>
  <!--slimscroll js-->
  <script type="text/javascript" src="{% static 'js/others/SmoothScroll.js' %}"></script>
  <script src="{% static 'js/jquery/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <!--Chart js-->
  <script type="text/javascript" src="{% static 'js/others/Chart.js' %}"></script>
  <!--amchart js-->
  <script src="{% static 'export/export.min.js' %}"></script>

  <!--menu js-->
  <script src="{% static 'js/vendors/pcoded.min.js' %}"></script>
  <script src="{% static 'js/others/vertical-layout.min.js' %}"></script>
  <!--custom js-->
  <script type="text/javascript" src="{% static 'js/custom/custom-dashboard.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/custom/script.js' %}"></script>
  <script>
    var m = document.getElementsByClassName("animate__fadeIn");  // Return an array

    setTimeout(function(){
    if (m && m.length) {
        m[0].classList.add('animate__fadeOut');
    }
    }, 2000);
  </script>
  {% block extrascript %}{% endblock extrascript %}
</body>
</html>
