{% extends 'residents/layouts/allbase.html' %}

{% block title %}Select House{% endblock title %}

{% block card1 %}
<div class="col-xl-12 col-md-12">
    <div class="card">
        {% if messages %}
            {% for message in messages %}
                <h5 class="text-center {{ messages.tags }} animate__animated animate__fadeIn animate__delay-3s">{{ message }}</h5>
            {% endfor %}
        {% endif %}
        <div class="card-header">
            <h5>Search Houses or Communities</h5>
        </div>
        <div class="card-block">
            <div class="row">
              <div class="col-lg-12 col-xl-3"></div>
              <div class="col-lg-12 col-xl-6">
                <form class="form-material" action="{% url 'residents:select_house' %}" method="get">
                  <div class="form-group form-primary form-static-label">
                      <input type="text" name="q" class="form-control">
                      <span class="form-bar"></span>
                      <label class="float-label"><i class="fa fa-search m-r-10"></i>Search</label>
                  </div>
                  <center><button class="btn btn-grd-primary btn-round waves-effect waves-light" type="submit">Search</button></center>
                </form>
              </div>
              <div class="col-lg-12 col-xl-3"></div>
          </div>
        </div>
    </div>
</div>
{% endblock card1 %}
{% block card2 %}
  <div class="col-xl-12 col-md-12">
    <div class="card table-card">
      <div class="card-header">
        <h5>Results</h5>
        <div class="card-header-right">

        </div>
      </div>
      <div class="card-block">
        <div class="table-responsive">
          <table class="table table-hover">
              <thead>
                  <tr>
                  <th>House Code</th>
                  <th>Community</th>
                  <th>House Status</th>
                    <th></th>
                  </tr>
              </thead>
              <tbody>
                  {% for house in houses %}
                  <tr>
                      <td>{{ house.housecode }}</td>
                      <td>{{ house.community }}</td>
                      {% if house.housestatus == 0 %}
                        <td>Vacant</td>
                      {% else %}
                        <td>Occupied</td>
                      {% endif %}
                      <td><a href="{% url 'residents:newresident_dashboard' house.id %}" class="b-b-primary text-primary">Select House</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          <div class="text-right m-r-20">
            {% if is_paginated %}

              {% if page_obj.has_previous %}
                  <a class="badge badge-inverse-primary" href="{% url 'residents:select_house' %}?q={{searchq}}&page=1" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="First Page">First</a>
                  <a class="badge badge-inverse-primary" href="{% url 'residents:select_house' %}?q={{searchq}}&page= {{page_obj.previous_page_number}}" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Previous Page">Previous</a>
              {% endif %}

              {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                  <a class="badge badge-primary" style="color: white !important;" href="{% url 'residents:select_house' %}?q={{searchq}}&page={{ num }}" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Page {{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
                  <a class="badge badge-inverse-primary" href="{% url 'residents:select_house' %}?q={{searchq}}&page={{ num }}" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Page {{ num }}">{{ num }}</a>
                {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
                  <a class="badge badge-inverse-primary" href="{% url 'residents:select_house' %}?q={{searchq}}&page={{ page_obj.next_page_number }}" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Next Page">Next</a>
                  <a class="badge badge-inverse-primary" href="{% url 'residents:select_house' %}?q={{searchq}}&page={{ page_obj.paginator.num_pages }}" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Last Page">Last</a>
              {% endif %}

            {% endif %}
            <a href="{% url 'residents:residents_dashboard' %}" class="b-b-primary text-primary">Back To Dashboard</a>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock card2 %}
