{% extends 'basic/layouts/dash_base.html' %}

{% block title %}Edit Property{% endblock title %}

{% block card1 %}
  <div class="col-xl-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Resident Detail</h5>
        </div>
        <div class="card-block">
            <div class="row">
              <div class="col-lg-12 col-xl-4">
                <h5>House :<span class="text-primary"> {{ resident.house.housecode }}</span></h5>
              </div>
              <div class="col-lg-12 col-xl-4">
                 <h5>Resident ID :<span class="text-primary"> {{ resident.resident_code }}</span></h5>
              </div>
              <div class="col-lg-12 col-xl-4">
                {% if resident.occupancy_status == 0 %}
                   <h5>Occupancy Status :<span class="text-primary"> Vacated House</span></h5>
                {% else %}
                  <h6>Status :<span class="text-primary"> Currently Residing in the House</span></h6>
                {% endif %}
              </div>
          </div>
        </div>
    </div>
</div>
{% endblock card1 %}

{% block card2 %}



  <div class="col-xl-12 col-md-12">
    <div class="card">
      {% if messages %}
          {% for message in messages %}
              <h6 class="text-center {{ messages.tags }} animate__animated animate__fadeIn animate__delay-3s">{{ message }}</h6>
          {% endfor %}
      {% endif %}
        <div class="card-header">
            <h5>Edit Property</h5>
            <div class="card-header-right">
              <a href="{% url 'residents:resident_details' resident.id %}" class="b-b-primary text-primary">Go Back</a>
            </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-lg-12 col-xl-3"></div>
            <div class="col-lg-12 col-xl-6">
              <form method="post" action="{%  url 'resident_account:edit_property' property.id %}" class="form-material">
                {% csrf_token %}
                <input type="hidden" value="{{ property.property_code }}" readonly name="property_code">
                <div class="form-group form-primary form-static-label">
                  {{ form.property_type }}
                  <span class="form-bar m-b-1" style="margin-top:2px !important;"></span>
                  <label class="float-label">Select Property Class</label>
                </div>

                <div class="form-group form-primary form-static-label">
                  {{ form.property_desc }}
                  <span class="form-bar m-b-1" style="margin-top:2px !important;"></span>
                  <label class="float-label">Description Of Asset <span class="badge badge-primary">color, specifications etc</span></label>
                </div>
                <button type="submit" class="btn btn-grd-primary btn-round waves-effect waves-light">Save</button>
              </form>
            </div>
            <div class="col-lg-12 col-xl-3"></div>
          </div>
        </div>
    </div>
  </div>
{% endblock card2 %}
{% block extrascript %}

{% endblock extrascript %}
