{% extends 'layouts/base.html' %}

{% block title %}{{ user.username }} Profile{% endblock title %}

{% block card1 %}
<div class="col-sm-12">
    <div class="card">
      {% if messages %}
        {% for message in messages %}
            <h5 class="text-center {{ messages.tags }} animate__animated animate__fadeIn animate__delay-3s">{{ message }}</h5>
        {% endfor %}
      {% endif %}
        <div class="card-header">
            <h5>Welcome {{ user.first_name }}, Edit Your Profile</h5>
            <div class="card-header-right">
              <a href="{% url 'profile:profile' %}" class="b-b-primary text-primary">Back To Profile</a>
            </div>
        </div>
        <div class="card-block tab-icon">
           <ul class="nav nav-tabs md-tabs " role="tablist">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="{% url 'profile:profile_picture' %}" role="tab"><i
                            class="icofont icofont-home"></i>Profile Pics</a>
                    <div class="slide"></div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="{% url 'profile:profile_info' %}" role="tab"><i
                            class="icofont icofont-ui-user "></i>Details</a>
                    <div class="slide"></div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="{% url 'profile:password_reset' %}" role="tab"><i
                            class="icofont icofont-ui-message"></i>Password Reset</a>
                    <div class="slide"></div>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content card-block">
                <div class="tab-pane active" id="details" role="tabpanel">
                  <div class="card">
                    <div class="card-header">
                      <h5>Edit Profile Information</h5>
                    </div>
                    <div class="card-block">
                      <form class="form-material" method="Post" action="{% url 'profile:profile_info' %}">
                        {% csrf_token %}
                        <div class="form-group form-primary form-static-label">
                          {{ form.username }}
                          <span class="form-bar m-b-1" style="margin-top:2px !important;"></span>
                          <label class="float-label">Username</label>
                        </div>
                        <div class="form-group form-primary form-static-label">
                          {{ form.first_name }}
                          <span class="form-bar"></span>
                          <label class="float-label">First Name</label>
                        </div>
                        <div class="form-group form-primary form-static-label">
                          {{ form.last_name }}
                          <span class="form-bar"></span>
                          <label class="float-label">Last Name</label>
                        </div>
                        <div class="form-group form-primary form-static-label">
                          {{ form.email }}
                          <span class="form-bar"></span>
                          <label class="float-label">Email Address</label>
                        </div>
                        <button class="btn btn-grd-primary btn-round waves-effect waves-light" type="submit">Update</button>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  {% endblock card1 %}
  {% block extrascript %}
    <script>
        var m = document.getElementsByClassName("animate__fadeIn");  // Return an array

        setTimeout(function(){
        if (m && m.length) {
            m[0].classList.add('animate__fadeOut');
        }
        }, 2000);
    </script>
{% endblock extrascript %}
